            </main>
            <footer>
                <p>Copyright &copy; <%= new Date().getFullYear() %></p>
            </footer>
        
        </div>
        
        <script src="scripts/script.js"></script>
    </body>
</html>